<!DOCTYPE html>
<html>
<head>
	<title>Oklock</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
	


	<% if user_signed_in? %>

	<ul> 
		<li>Signed in as <%= current_user.name %>. Not you?</li>
		<li> <%= current_user.provider %></li>
		<li> <%= current_user.uid %></li>
		<li> <%= current_user.email %></li>
		<li><%= current_user.headline %></li>
		<%= image_tag(current_user.image) %>


	</ul>

	<%= link_to "Salir", destroy_user_session_path,:method => :delete %>
	<% else %>
	<ul>
		<li><%= link_to "Registrate", new_user_registration_path %></li> 
		<li><%= link_to "Ingresa", new_user_session_path %></li>
		<li><%= link_to "Ingresa con LinkedIn",user_linkedin_omniauth_authorize_path %></li>	
	</ul>

	
	<% end %>




</body>
</html>
